@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/bulma';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css';
@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';

$job-border-width: 10px;

body {
  line-height: 1.2em;

  .main {
    margin: 0 auto 56px;
    padding-bottom: 24px;
  }

  .footer {
    background-color: #ccccce;
  }

  .social {
    margin-bottom: 20px;
    a {
      background-repeat: no-repeat;
      background-position: top left;
      background-size: contain;
      display: inline-block;
      margin: 0 6px 0 0;
    }
  }

  .p-block {
    margin-top: 24px;
  }

  header {
    color: #fff;
    position: sticky;
    background: linear-gradient(#000, #444);
    font-family: 'Bebas Neue', cursive;

    &.main-header {
      padding-top: 36px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h1 {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 12px;
    }

    &.section-header {
      padding-bottom: 10px;
      padding-top: 0px;
      background: #f5f5f5;
    }
  }

  .nav-tabs {
    ul {
      border-bottom: none;
    }
    li {
      a {
        color: #fff;
      }

      &.is-active a {
        border: none;
        background-color: transparent;
        position: relative;
      }
    }
  }

  .jobs {
    margin: 3rem auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }

  section {
    background: #fff;

    .objective {
      padding-top: 24px;
    }

    &.job {
      flex: 0 1 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
      font-size: 14px;

      & > div {
        padding: 2rem;
        flex: 1;
      }

      &:first-child {
        flex: 0 0 100%;
      }

      .job-logo {
        height: 50px;
      }

      .job-details {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      .job-description {
        flex: 0 0 60%;
        font-size: 12px;
      }

      .job-tools {
        flex: 0 0 20%;
        font-family: 'Bebas Neue', cursive;

        ul {
          padding: 1rem;

          li {
            font-size: 18px;
          }
        }
      }

      .heading {
        color: #222;
        font-weight: 900;
        font-size: 1rem;
      }

      em {
        font-style: normal;
        font-weight: 600;
        color: black;
        padding: 0 0.15em;
        background-color: yellow;
        border-bottom: 1px dotted black;
      }

      p.company {
        margin-top: 6px;
      }

      $base-colors: (
        'bluehouse': rgb(90, 33, 181),
        'epikone': #549dd2,
        'propeller': #2d2d2d,
        'ddc': #f60,
        'pwnie': #e35205,
        'frikin': #deb053,
      );

      @each $job, $base in $base-colors {
        &.#{$job} {
          a {
            color: $base;
            font-weight: 700;
          }
          & > div {
            border-left: $job-border-width solid $base;
          }
          .job-tools ul {
            background-color: rgba($base, 0.2);
          }
        }
      }
    }

    &.skill {
      border-bottom: 1px solid #eee;
      padding-top: 18px;
      padding-bottom: 18px;
      background: #fff;

      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding-left: 0;
        }
      }

      .gutter {
        div {
          padding-bottom: 18px;
          padding-top: 6px;
          text-align: left;
          color: #999;
        }
      }
    }
  }

  footer {
    margin: 24px;
    text-align: center;
    color: #ddd;
  }
}
