@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css";

$job-border-width: 10px;

body {
  background: #ccccce;

  .main {
    margin: 0 auto 56px;
    padding-bottom: 24px;
  }

  .footer {
    background-color: #ccccce;
  }

  .social {
    text-align: right;
    margin-bottom: 20px;
    a {
      background-repeat: no-repeat;
      background-position: top left;
      background-size: contain;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 0 3px;
    }
  }

  .p-block {
    margin-top: 24px;
  }

  header {
    background: #ccccce;

    &.main-header {
      padding-top: 24px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h1 {
      font-size: 48px;
      font-family: georgia !important;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 12px;
    }

    &.section-header {
      padding-bottom: 10px;
      padding-top: 0px;
      background: #f5f5f5;
    }
  }

  ul {
    padding-left: 24px;
    li {
      margin: 3px auto;
    }
  }

  .links {
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding-right: 12px;
      }
    }
  }

  section {
    background: #fff;

    .content {
      padding-bottom: 18px;
      padding-top: 6px;
    }
    .objective {
      padding-top: 24px;
    }

    &.job {
      border-bottom: 1px solid #eee;

      em {
        font-style: normal;
        font-weight: 600;
        color: black;
        padding: 0 0.15em;
        background-color: yellow;
        border-bottom: 1px dotted black;
      }

      p.company {
        margin-top: 6px;
      }

      &.bluehouse {
        background-color: #a6b528;
        color: #191612;
        a {
          color: #d79007;
          font-weight: 700;

          &:hover {
            text-decoration: none;
            color: #c8bea4;
          }
        }
        .heading {
          color: #bcc75d;
        }
        .content {
          background-color: #fff;
          border-left: $job-border-width solid #191612;
        }
      }

      &.epikone {
        background: linear-gradient(#000, #2f2f2f);
        color: #fff;
        color: #222;

        .heading {
          color: #c2c2c2;
        }
        a {
          color: #549dd2;
          text-decoration: underline;
        }
        .content {
          background: #fff;
          border-left: $job-border-width solid #549dd2;
        }
      }

      &.ddc {
        background: #333333;

        .heading {
          color: #f60;
        }
        a {
          color: #f60;
        }
        .content {
          border-left: $job-border-width solid #f60;
          background: #fff;
        }
        .company {
          color: #d2d3c1;
        }
      }

      &.propeller {
        background-color: #443c3c;
        color: #655757;

        .content {
          background: #fcfcfc;
          border-left: $job-border-width solid #170d0d;
        }
        .heading {
          color: #170d0d;
        }
        a {
          color: #2c2a2a;
        }
      }

      &.pwnie {
        background-color: #131313;
        color: #e35205;

        .content {
          background: #fcfcfc;
          border-left: $job-border-width solid #170d0d;
        }
        .heading {
          color: #170d0d;
        }
        a {
          color: #2c2a2a;
        }
      }

      &.frikin {
        background-color: #f5f5f5;
        color: #655757;

        .content {
          background: #fcfcfc;
          border-left: $job-border-width solid #deb053;
        }
        .heading {
          color: #170d0d;
        }
        a {
          color: #2c2a2a;
        }
      }
    }
    &.skill {
      border-bottom: 1px solid #eee;
      padding-top: 18px;
      padding-bottom: 18px;
      background: #fff;

      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding-left: 0;
        }
      }

      .gutter {
        div {
          padding-bottom: 18px;
          padding-top: 6px;
          text-align: left;
          color: #999;
        }
      }
    }
  }

  footer {
    margin: 24px;
    text-align: center;
    color: #ddd;
  }
}
