@import './mixins.scss';

header.main-header {
  @include title;

  color: #000;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: rgbq(#fff, 0.1);
  backdrop-filter: blur(24px);

  @include media('>desktop') {
    flex: 0;
    height: 100vh;
    flex-direction: column;
    padding: 2rem 3rem 2rem 2rem;
    align-items: end;
  }

  @include media('<=tablet') {
    padding: 1rem;
  }

  h1 {
    font-size: 48px;
    line-height: 36px;
    margin-top: 0;

    @include media('<=tablet') {
      font-size: 36px;
      line-height: 24px;
    }

    small {
      margin-top: 0.3em;
      display: block;
      font-size: 14px;
      line-height: 12px;
    }
  }

  p {
    margin-bottom: 12px;
  }

  &.section-header {
    padding-bottom: 10px;
    padding-top: 0px;
    background: #f5f5f5;
  }

  a {
    color: #fff;
    border-bottom: 1px dotted;
  }
}
