@import './mixins.scss';

ul.hobbies {
  @media print {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media('<=tablet') {
    flex-direction: column;
  }

  li {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    flex: 0 0 30%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    background: #fff;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
