@import './mixins.scss';

body {
  line-height: 1.2em;

  @media screen {
    background: linear-gradient($base-bg, #ddd);

    .print-only {
      display: none;
    }
  }

  @media print {
    .screen-only {
      display: none;
    }
  }

  .resume {
    display: flex;
    justify-content: center;

    @include media('<=desktop') {
      flex-direction: column;
    }
  }

  .main {
    @media screen {
      max-width: 1250px;
      padding: 0rem 3rem 4rem;
    }

    @include media('<=tablet') {
      padding: 0 0 5rem;
    }

    h1 {
      @include title;

      font-size: 70px;
      line-height: 35px;
    }
  }

  section {
    @media screen {
      margin-bottom: 6rem;
    }

    @media print {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }

  footer {
    margin: 24px;
    text-align: center;
    color: #ddd;
  }

  .diploma-wrapper {
    @media screen {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hobbies {
    ul {
      display: flex;

      li {
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        padding: 2rem;
        border-radius: 10px;
        background: #fff;

        a {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
