@import './mixins.scss';

body {
  line-height: 1.2em;
  background: linear-gradient($base-bg, #ddd);

  .resume {
    display: flex;
    justify-content: center;

    @include media('<=desktop') {
      flex-direction: column;
    }
  }

  .main {
    padding: 0rem 3rem 4rem;
    flex: 1 0 70%;
    max-width: 1250px;

    @include media('<=tablet') {
      padding: 0 0 5rem;
    }

    h1 {
      @include title;

      font-size: 70px;
      line-height: 35px;
    }
  }

  section {
    margin-bottom: 6rem;
  }

  footer {
    margin: 24px;
    text-align: center;
    color: #ddd;
  }

  .education-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;

    @include media('<=tablet') {
      flex-direction: column;
      align-content: center;
    }
  }

  .diploma-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hobbies {
    ul {
      display: flex;

      li {
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        padding: 2rem;
        border-radius: 10px;
        background: #fff;

        a {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
